<div class="container mx-auto p-6">
  <!-- ヘッダー -->
  <h1 class="text-4xl font-bold text-center text-gray-800 mb-8">企業一覧</h1>

  <!-- 企業一覧 -->
  <div id="companies-list">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <% @companies.each do |company| %>
          <div class="company-item bg-white rounded-lg shadow-md p-4 hover:shadow-lg transition-shadow duration-200">
            <%= link_to company.name, company_path(company.hash_id), class: "block text-lg font-semibold text-blue-600 hover:text-blue-800 mb-2" %>
            <p class="text-sm text-gray-600"><%= truncate(company.description, length: 50) %></p>
          </div>
        <% end %>
      </div>
  </div>
</div>
